<div class="footer container">
    <div class="row-section">
        <div style="display:flex;flex:1;">
            <img src="../assets/logo.jpg" class="logo">
            <div style="display:flex;flex-direction:column;justify-content: center">
                <span>Brought to you by N3hub</span>
                <div>Visit
                    <span style="text-decoration: underline;cursor:pointer;">n3hub</span>
                </div>
            </div>

        </div>
        <div style="display:flex;flex:1;justify-content: flex-end;">
            <span>Disclosure statement / Privacy Policy / Terms and Conditions</span>
        </div>

    </div>
    <div style="display:flex;flex:1;justify-content: center;">
        <span>Copyright @ 2021 n3hub Limited</span>
    </div>

</div>